.select-container {
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-select div > p {
  border-top: 1px solid gray;
  padding: 10px;
  transform: translateY(50%);
}
.menu-select {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: 16px 17px;
  border-radius: 50px;
  border: 2px solid #ebebeb;
  font-weight: 900;
}
.menu-select p {
  margin: 0px;
}
.menu-select:hover {
  background-color: #1661a6;
  border: 2px solid #00396d;
  transition: 0.5s;
  color: white;
  cursor: pointer;
}
.text-group {
  font-size: 20px;
}
.active {
  background-color: #1661a6;
  border: 2px solid #00396d;
  transition: 0.5s;
  color: white;
  cursor: pointer;
}
.active-2 {
  background-color: royalblue;
}
.active-3 {
  background-color: royalblue;
}
.active-4 {
  background-color: royalblue;
}
.active-5 {
  background-color: royalblue;
}
@media only screen and (max-width: 600px) {
  .menu-select {
    padding: 8px 9px;
  }
  .link-select div > p {
    padding: 3px;
  }
  .text-group {
    font-size: 10px;
  }
}
